# Charger
/sys/class/qcom-battery                                 charging_en                     0660    system  system

# eSE permissions
/dev/st54spi_gpio         0660   system     system

# Camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-02/c42d000.qcom,spmi:qcom,pm8350c@2:qcom,flash_led@ee00/leds/led:torch_0  brightness 0660 cameraserver camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-02/c42d000.qcom,spmi:qcom,pm8350c@2:qcom,flash_led@ee00/leds/led:torch_1  brightness 0660 cameraserver camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-02/c42d000.qcom,spmi:qcom,pm8350c@2:qcom,flash_led@ee00/leds/led:switch_0 brightness 0660 cameraserver camera